# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

anomalia_termica = pd.Series(data=dados)
anomalia_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:
ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

# seu código aqui

anomalia_termica = pd.Series(data=dados, index=ano)

anomalia_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [5]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

serie_temperaturas = pd.Series(dic_temperaturas)

serie_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [6]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

pd.DataFrame(arr)

             0           1           2
0   119.842128   92.186804   92.817096
1    89.542190  101.596648   91.388763
2    97.389958   90.517971  104.405492
3    89.620712  100.082109   85.509739
4   106.518364   98.504553   99.325573
5    97.675831  108.091311   96.544840
6   106.649554   97.239657   96.724276
7    81.639499   79.843768   99.259429
8   105.680405  105.342059  114.626957
9    86.601447   95.352891   78.768800
10   93.263231   94.165514  102.384378
11   78.200470   88.902144  106.400096
12   90.665708  102.216580   89.136134
13   96.583040   85.801076   91.407740
14   96.839651  100.076067   97.817208
15   96.799560   82.515249  106.955187
16   86.754051   98.471171  116.808266
17   91.913164  107.842748   93.592735
18  104.941389  122.613895   89.971963
19   91.530380   91.791007  108.359235

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [16]:
#seu código aqui
arrindex = pd.Index(range(1, 21))

arr_com_index = pd.DataFrame(arr, index=arrindex, columns=['x1', 'x2', 'x3'])

arr_com_index

            x1          x2          x3
1   119.842128   92.186804   92.817096
2    89.542190  101.596648   91.388763
3    97.389958   90.517971  104.405492
4    89.620712  100.082109   85.509739
5   106.518364   98.504553   99.325573
6    97.675831  108.091311   96.544840
7   106.649554   97.239657   96.724276
8    81.639499   79.843768   99.259429
9   105.680405  105.342059  114.626957
10   86.601447   95.352891   78.768800
11   93.263231   94.165514  102.384378
12   78.200470   88.902144  106.400096
13   90.665708  102.216580   89.136134
14   96.583040   85.801076   91.407740
15   96.839651  100.076067   97.817208
16   96.799560   82.515249  106.955187
17   86.754051   98.471171  116.808266
18   91.913164  107.842748   93.592735
19  104.941389  122.613895   89.971963
20   91.530380   91.791007  108.359235

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [19]:
# seu código aqui
arr_com_index['Média'] = ((arr_com_index['x1'] + arr_com_index['x2'] + arr_com_index['x3'])/ 3)

arr_com_index

            x1          x2          x3       Média
1   119.842128   92.186804   92.817096  101.615343
2    89.542190  101.596648   91.388763   94.175867
3    97.389958   90.517971  104.405492   97.437807
4    89.620712  100.082109   85.509739   91.737520
5   106.518364   98.504553   99.325573  101.449497
6    97.675831  108.091311   96.544840  100.770661
7   106.649554   97.239657   96.724276  100.204495
8    81.639499   79.843768   99.259429   86.914232
9   105.680405  105.342059  114.626957  108.549807
10   86.601447   95.352891   78.768800   86.907713
11   93.263231   94.165514  102.384378   96.604374
12   78.200470   88.902144  106.400096   91.167570
13   90.665708  102.216580   89.136134   94.006141
14   96.583040   85.801076   91.407740   91.263952
15   96.839651  100.076067   97.817208   98.244309
16   96.799560   82.515249  106.955187   95.423332
17   86.754051   98.471171  116.808266  100.677829
18   91.913164  107.842748   93.592735   97.782882
19  104.941389  122.613895   89.971963  105.842415
20   91.530380   91.791007  108.359235   97.226874

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [25]:
# seu código aqui

arr_com_index['log_med'] = np.log(arr_com_index['Média'])

arr_com_index

            x1          x2          x3       Média   log_med
1   119.842128   92.186804   92.817096  101.615343  4.621195
2    89.542190  101.596648   91.388763   94.175867  4.545164
3    97.389958   90.517971  104.405492   97.437807  4.579214
4    89.620712  100.082109   85.509739   91.737520  4.518931
5   106.518364   98.504553   99.325573  101.449497  4.619561
6    97.675831  108.091311   96.544840  100.770661  4.612847
7   106.649554   97.239657   96.724276  100.204495  4.607213
8    81.639499   79.843768   99.259429   86.914232  4.464922
9   105.680405  105.342059  114.626957  108.549807  4.687209
10   86.601447   95.352891   78.768800   86.907713  4.464847
11   93.263231   94.165514  102.384378   96.604374  4.570624
12   78.200470   88.902144  106.400096   91.167570  4.512699
13   90.665708  102.216580   89.136134   94.006141  4.543360
14   96.583040   85.801076   91.407740   91.263952  4.513756
15   96.839651  100.076067   97.817208   98.244309  4.587457
16   96.799560   82.515249  106.955187   95.423332  4.558323
17   86.754051   98.471171  116.808266  100.677829  4.611926
18   91.913164  107.842748   93.592735   97.782882  4.582750
19  104.941389  122.613895   89.971963  105.842415  4.661951
20   91.530380   91.791007  108.359235   97.226874  4.577047